fieldset {
	width: 170px;
	height: 270px;
	margin: 17px;
	background-color: #999999;
}
button {
	margin-bottom: 11px;
	cursor: pointer;
	background-color: #E6E8FA;
	border: 1px solid;
	border-radius: 5px;
	height: 25px;
	width: 125px;
	font-size: 18px;
}
body {
	background-image: url(fundo.png);
	background-repeat: no-repeat;
	background-attachment: fixed; /*Acompanhamento da Imagem*/
	background-position: top center;	
}